<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Collective Admin Panel a Flat Bootstrap Responsive Website Template | Pricing :: W3Layouts</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="admin_css/css/style-starter.css">

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a th:href="@{/index_2}">Admin Panel</a></h1>
    </div>

    <!-- if logo is image enable this -->
    <!-- image logo --
    <div class="logo">
      <a href="index_2.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
    //image logo -->

    <div class="logo-icon text-center">
      <a th:href="@{/index_2}" title="logo"><img src="admin_images/logo.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a th:href="@{/index_2}"><i class="lnr lnr-menu-circle"></i><span>Dashboard</span></a>
        </li>

        <li><a th:href="@{/pricing}"><i class="lnr lnr-text-align-justify"></i> <span>Pricing tables</span></a></li>
        <li><a th:href="@{/forms}"><i class="lnr lnr-smartphone"></i> <span>Forms</span></a></li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">

        <i class="lnr lnr-arrow-right-circle"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->

          <div class="header sticky-header">

            <!-- notification menu start -->
            <div class="menu-right">
              <div class="navbar user-panel-top">
                <div class="user-dropdown-details d-flex">
                  <div class="profile_details">
                    <ul>
                      <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                           aria-expanded="false">
                          <div class="profile_img">
                            <img src="images/default_icon.png" class="rounded-circle" alt="" />
                            <span></span>
                          </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                          <li class="user-info">
                            <p class="user-name" style="color: white;" th:text="${session.username}">username</p>
                          </li>
                          <li class="logout"> <a th:href="@{/admin_log_out}"><i class="lnr lnr-exit-up"></i> Logout</a> </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--notification menu end -->
          </div>
  <!-- //header-ends -->

<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index_2.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pricing Tables</li>
      </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!--BLOCK ROW START-->

    <!-- //pricing version 1 -->

    <!-- pricing version 2 -->
    <div class="pricing-version-2">
      <div class="card card_border mb-5">
        <div class="cards__heading">
          <h3>Choose Your Plan , <span>As Your Preference</span></h3>
        </div>
        <div class="card-body">
          <div class="row px-2">

            <!-- Table #1  -->
            <div class="col-lg-4 col-md-6 px-2 mb-4">
              <div class="card text-center card__hover">
                <div class="card-header">
                  <h3 class="display-4"><span class="currency">₹</span>199<span class="period">/month</span></h3>
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    Basic Plan
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item">720p (HD)</li>
                    <li class="list-group-item">phone, tablet</li>
                    <li class="list-group-item">No Of Devices - 1</li>
                    <li class="list-group-item">Shows / Movies Contains Ads</li>
                    <li class="list-group-item">Audio is Quality Is Fair</li>
                    <li class="list-group-item">Sports Not Include</li>
                  </ul>
                  <a href="#" class="btn btn-style btn-primary mt-4">Choose Plan</a>
                </div>
              </div>
            </div>

            <!-- Table #2  -->
            <div class="col-lg-4 col-md-6 px-2 mb-4">
              <div class="card text-center card__hover">
                <div class="card-header">
                  <h3 class="display-4"><span class="currency">₹</span>499<span class="period">/month</span></h3>
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    Regular Plan
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item">1080p (Full HD)</li>
                    <li class="list-group-item">computer, mobile phone, tablet</li>
                    <li class="list-group-item">No Of Devices - 2</li>
                    <li class="list-group-item">Ad Free (Except Sport)</li>
                    <li class="list-group-item">Audio Quality - Dolby Vision</li>
                    <li class="list-group-item">Sports Included</li>
                  </ul>
                  <a href="#" class="btn btn-style btn-primary mt-4">Choose Plan</a>
                </div>
              </div>
            </div>

            <!-- Table #3  -->
            <div class="col-lg-4 col-md-6 px-2 mb-4">
              <div class="card text-center card__hover">
                <div class="card-header">
                  <h3 class="display-4"><span class="currency">₹</span>899<span class="period">/month</span></h3>
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    Premium Plan
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item">4K 2160p (Ultra HD)</li>
                    <li class="list-group-item">TV, computer, mobile phone, tablet</li>
                    <li class="list-group-item">No Of Devices - 4</li>
                    <li class="list-group-item">All Content Ad Free</li>
                    <li class="list-group-item">Audio Quality - Dolby Vision</li>
                    <li class="list-group-item">Sports Included</li>
                  </ul>
                  <a href="#" class="btn btn-style btn-primary mt-4">Choose Plan</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- //pricing version 2 -->
    <!-- //pricing -->

  </div>
  <!-- //content -->

</div>
<!-- main content end-->
</section>
<!--footer section start-->

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="admin_js/jquery-3.3.1.min.js"></script>
<script src="admin_js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="admin_js/Chart.min.js"></script>
<script src="admin_js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="admin_js/bar.js"></script>
<script src="admin_js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="admin_js/jquery.nicescroll.js"></script>
<script src="admin_js/scripts.js"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="admin_js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="admin_js/bootstrap.min.js"></script>


</body>

</html>